/**
 * @file
 * SCORM player styles.
 */

/* Navigation tree */
.scorm-ui-player-tree-wrapper {
  float: left;
  padding-right: 1em;
  box-sizing: border-box;
  width: 24%;
  font-size: .8em;
}

.scorm-ui-player-tree-wrapper ul {
  margin: 0;
  padding: 0 0 0 1em;
}

.scorm-ui-player-tree-wrapper li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.scorm-ui-player-tree-wrapper .scorm-ui-sco-title {
  padding: .25em 0;
}

.js-processed .scorm-ui-player-tree-wrapper .scorm-ui-sco-title {
  cursor: pointer;
}

.scorm-ui-player-tree-wrapper > ul {
  padding-left: 0;
}


.scorm-ui-player-tree-wrapper .scorm-ui-sco-aggregation > .scorm-ui-sco-title {
  font-weight: bold;
}

/* The first element of the Tree is the Course title (in 99% of all cases) */
.scorm-ui-player-tree-wrapper > ul > li > .scorm-ui-player-tree-item-title {
  font-size: 1.2em;
  font-weight: bold;
}


#scorm-player {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%;
}

#decoupled-scorm-player {
  overflow: hidden;
  width: 100%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive--iframe-default {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 100%;
}

.responsive--iframe-dvh {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 100dvh;
}

body {
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

