.scorm_field__overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.scorm_field__overlay iframe {
  overflow: hidden;
}


.scorm-field-scorm-icon-button {
  float: right;
  cursor: pointer;
}

#scorm-field-scorm-overlay-button-off {
  display: none;
}

.scorm_field__overlay #scorm-field-scorm-overlay-button-off {
  background: #000000;
  display: inline-block;
  padding: 10px;
  color: #ffffff;
}

:fullscreen, ::backdrop {
  background-color: rgb(255, 255, 255);
}

