{#
/**
 * @file
 * Scorm player html template.
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}

<!DOCTYPE html>
<html>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">
    {{ noscript_styles }}
  </head>
  <body>
    {{ page }}    
    <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>