
{#
/**
 * @file
 * Scorm player template.
 * @see template_preprocess_scorm__player()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('scorm_field/scorm-field-scorm')}}
<div id="scorm-player-wrapper">  
  <button class="button btn btn-primary button--primary" id="fullscreen-button" data-drupal-selector="fullscreen-button" aria-controls="scorm-field-wrapper" aria-expanded="false">
    {{ 'Fullscreen'|trans }}    
  </button>
  <!-- SCORM content start --> 
  <div id="scorm-field-scorm-overlay"
  <div class="scorm-ui-player" id="scorm-ui-player-scorm-{{ scorm_id }}>" data-scorm-id="{{ scorm_id }}" data-node-id="{{ node_id }}">
    {% if player_settings.iframe_responsive %}
      <div id="scorm-player" class="scorm-ui-player-iframe-wrapper">
        <iframe class="{{ player_settings.iframe_responsive_class }}" scrolling="{{ player_settings.iframe_scrolling }}" frameBorder="0" data-sco-id="{{ start_sco.id }}" src="{{ iframe_src }}"></iframe>
      </div>
    {% else %}
      <iframe width="{{ player_settings.iframe_width }}" height="{{ player_settings.iframe_height }}" scrolling="{{ player_settings.scrolling }}" frameBorder="0" data-sco-id="{{ start_sco.id }}" src="{{ iframe_src }}"></iframe>
    {% endif %}
  </div>
  </div>
</div>